.navbar {
  background-color: #270570;
}



.jumbotron {
  background-color: #F58F51;
}
.btn {
  background-color: #270570;
}
main {
  display:flex;
  
}

/* tamanho do carroseul */
.carousel {
  width: 700px;
}

h3 {
  align-items: center;
  margin-left: 20px;
}
section{
  display: flex;
}

.ofertas {
 transform: translateY(16%);
  
}
.oferta-contanier {
  display: flex;
  border-radius: 2%;
  width: 50%;
}

.imagem-oferta {
  
  width: 100%;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}

.borda-bot {
  background-color: aliceblue;
  width: 396px;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
  height: 110px;
}
.btn-text {
  background-color: #270570;
  width: 30%;
  text-align: center;
  border: 1px solid;
  border-radius: 5%;
}
.contanier-header {
  display: flex;
}
.text-footer {
  background-color: #36059e;
}
/* style promo */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
text{
font-size: 20px;
font-style: bold;
align-items: center;
text-align: center;

 }
p{
  font-style: bold;
}